#page-lading{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: var(--color-title-in-primary);
    background-color: var(--color-primary);
}

.logo-container img{
    height: 10rem;
}

.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;;
}

.logo-container h2{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-bottom: 0.8rem;
}
.hero-image{
    width: 100%;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
    width: 100%;

}

.buttons-container a{
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 700 2.0rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
    text-decoration: none;
    color: var(--color-button-text);
}

.buttons-container a:first-child{
    margin-right: 1.6rem;
}

.buttons-container a img{
    width: 4rem;

}

.buttons-container a.study{
    background-color: var(--color-primary-lighter);
}

.buttons-container a.give-classes{
    background-color: var(--color-secundary);
}

.buttons-container a.study:hover{
    background-color: var(--color-primary-light);
}

.buttons-container a.give-classes:hover{
    background-color: var(--color-secundary-dark);
}